
snippet header
	# --------------------------------------------------------
	# File:        ${1:`vim_snippets#Filename('$1.py', 'foo.py')`}
	# Author:      `g:snips_author`
	# Email:       `g:snips_email`
	# Created:     `strftime("%Y-%m-%d")` 
	# Description: ${2}
	# --------------------------------------------------------

